*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: 0px;
    font-family: sans-serif;
    user-select: none;
    list-style-type: none;

}

main{
    height: 100vh;
    display: flex; 
}

.main-wrapper{
    display: flex;
    flex: auto;
}

button{
    cursor: pointer;
}

@media screen and (max-width: 900px){

    .main-wrapper{
        display: flex;
        flex-direction: column;
    }
}